<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>FoodTypeServlet</servlet-name>
    <servlet-class>servlet.FoodTypeServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>BaseServlet</servlet-name>
    <servlet-class>servlet.BaseServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>FoodServlet</servlet-name>
    <servlet-class>servlet.FoodServlet</servlet-class>
  </servlet>




  <servlet-mapping>
    <servlet-name>FoodTypeServlet</servlet-name>
    <url-pattern>/foodType</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BaseServlet</servlet-name>
    <url-pattern>/BaseServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FoodServlet</servlet-name>
    <url-pattern>/food</url-pattern>
  </servlet-mapping>	
 <!--  默认首页 ，当输入路径为这个项目时，显示这个界面-->
  <welcome-file-list>
    <welcome-file>sys/index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
